# Default owners for repository reviews
* @KarthikAshtekar
src/* @KarthikAshtekar
dashboard/* @KarthikAshtekar
# Require specific users to review changes to Python files
*.py @KarthikAshtekar @collaborator-username

# Require a specific team to review the whole src/ directory
/src/ @org-name/team-name

# Fallback: Require someone to review everything not specified above
* @KarthikAshtekar
