pandas>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
seaborn>=0.13.0
plotly>=5.20.0
scikit-learn>=1.8.0
xgboost>=2.0.0
shap>=0.45.0
lime>=0.2.0.1
dice-ml>=0.11
fairlearn>=0.10.0
aif360>=0.6.1
streamlit>=1.35.0
joblib>=1.3.0
openpyxl>=3.1.0
ucimlrepo>=0.0.7
tensorflow>=2.16.0,<3.0.0
jupyter>=1.0.0
nbformat>=5.10.0
